body {
      max-width: 500px;
      margin: auto;
      text-align: center;
      margin-top: 50px;
}
#secret {
      font-family: monospace;
}
#seed {
      margin: 50px;
}
img {
      max-width: 100%;
}
